*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*--------------- 
    APP HEADER 
-----------------*/

.app-logo{
    vertical-align: middle;
}

.app-title{
    display: inline-block;
    vertical-align: middle;
}

header{
    padding: 10px 20px;
}